<ul id="nav">
    <li>Home</li>
    <li
    <% if ( title.includes("Projects")) { %>
        class="nav-current-page"
    <% } %>
    >Projects</li>
    <li
    <% if ( title.includes("About Me")) { %>
        class="nav-current-page"
    <% } %>
    >About Me</li>
    <li
    <% if ( title.includes("Socials")) { %>
        class="nav-current-page"
    <% } %>
    >Socials</li>
</ul>