<ul id="nav">
    <li id="nav-index">Home</li>
    <li id="nav-projects"
    <% if ( title.includes("Projects")) { %>
        class="nav-current-page"
    <% } %>
    >Projects</li>
    <li id="nav-aboutme"
    <% if ( title.includes("About Me")) { %>
        class="nav-current-page"
    <% } %>
    >About Me</li>
    <li id="nav-socials"
    <% if ( title.includes("Socials")) { %>
        class="nav-current-page"
    <% } %>
    >Socials</li>
</ul>