<ul id="theme-select">
    <li id="theme-dark"><div></div>Dark Theme</li>
    <li id="theme-light"><div></div>Light Theme</li>
    <li id="theme-carmine"><div></div>Carmine Theme</li>
    <li id="theme-colorblind"><div></div>Colorblind Theme</li>
</ul>