<div id="theme-select-container">
  <svg id="theme-select-button" preserveAspectRatio="none" width="108.89167" height="69.204163" viewBox="0 0 108.89167 69.204163">
    <g transform="translate(-57.550284,-87.865954)">
      <rect
        style="stroke-width:1.05833;"
        id="border" width="105.83334" height="66.145836" x="59.079449" y="89.395119" rx="13.618696" ry="13.618696" />
      <g id="center-lines" transform="translate(0,1.4220084)"
        style="stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1">
        <rect
          style="stroke-width:0.529167;"
          id="" width="65.231117" height="1.9113162" x="79.380562" y="105.27373" rx="0.99402624"
          ry="0.95565808" />
        <rect
          style="stroke-width:0.529167;"
          id="" width="65.231117" height="1.9113162" x="79.380562" y="119.56122" rx="0.99402624"
          ry="0.95565808" />
        <rect
          style="stroke-width:0.529167;"
          id="" width="65.231117" height="1.9113162" x="79.380562" y="134.90701" rx="0.99402624"
          ry="0.95565808" />
      </g>
    </g>
  </svg>

  <ul id="theme-select-themes">
    <li id="theme-dark">
      <div></div>Dark
    </li>
    <li id="theme-light">
      <div></div>Light
    </li>
    <li id="theme-carmine">
      <div></div>Carmine
    </li>
    <li id="theme-colorblind">
      <div></div>Colorblind
    </li>
  </ul>
</div>
