<section id="theme-select-container">
  <svg
   width="60"
   height="50"
   viewBox="0 0 15.875 13.229167"
   version="1.1"
   id="theme-select-button"
   aria-labelledby="theme-select-title">
    <title id="theme-select-title">Select Color Scheme</title>
    <g
      id="layer1"
      transform="translate(0.03483315,0.03483315)">
      <rect
        id=""
        width="15.805334"
        height="13.1595"
        rx="20%"
        ry="20%"
        x="0"
        y="0" />
      <g
        id="color-wheel"
        transform="matrix(0.58175409,0,0,0.58175409,-45.871571,-50.84868)">
        <path
          style="fill:#ff0000"
          d="m 92.370917,98.68061 8.063663,5.53e-4 -0.002,0.161838 c -8.2e-4,0.06543 -0.0162,0.337043 -0.044,0.587284 -0.25755,2.316965 -1.502082,4.436805 -3.41111,5.787585 -0.213601,0.15114 -0.532966,0.35536 -0.572023,0.37563 -4.038835,-6.901656 0.0046,-0.0113 -4.034257,-6.912929 z" />
        <path
          style="fill:#800080"
          d="m 92.43465,98.716499 4.000109,-6.900559 0.139333,0.08273 c 0.05637,0.03339 0.284432,0.182193 0.487791,0.330955 1.882876,1.377388 3.105167,3.501006 3.330477,5.809261 0.0252,0.258271 0.0439,0.633562 0.0423,0.677106 -7.992469,0.01 -0.007,-0.0096 -7.999981,4.93e-4 z" />
        <path
          style="fill:#0a0080"
          d="m 92.433632,98.714224 -3.998982,-6.892193 0.141626,-0.07875 c 0.05723,-0.0319 0.300677,-0.154124 0.531737,-0.255081 2.139363,-0.934737 4.597133,-0.927678 6.716761,0.03067 0.237181,0.107206 0.572857,0.278431 0.609879,0.301616 -3.988979,6.892002 -0.01201,0.0016 -4.001017,6.893719 z" />
        <path
          style="fill:#fd7a00"
          d="m 92.394178,98.716499 4.006579,6.897371 -0.141895,0.0789 c -0.05734,0.0318 -0.301249,0.15424 -0.532748,0.25527 -2.143426,0.93543 -4.605867,0.92837 -6.729522,-0.0306 -0.23763,-0.10728 -0.573944,-0.27863 -0.611037,-0.30183 3.996557,-6.897183 0.01205,-0.001 4.008619,-6.898902 z" />
        <path
          style="fill:#fdff00"
          d="m 92.433632,98.714224 -3.999583,6.901386 -0.139329,-0.0827 c -0.05636,-0.0333 -0.284382,-0.18225 -0.487726,-0.33099 -1.88263,-1.37753 -3.104766,-3.50137 -3.330037,-5.809939 -0.02523,-0.258299 -0.04397,-0.633632 -0.0423,-0.677182 7.998976,-5.97e-4 0,0 7.998933,-4.94e-4 z" />
        <path
          style="fill:#008000"
          d="m 92.433632,98.714224 -7.99898,0.001 0.0022,-0.161638 c 7.84e-4,-0.06533 0.01629,-0.336629 0.04394,-0.586547 0.256468,-2.314081 1.491908,-4.431511 3.386248,-5.780993 0.211942,-0.151007 0.528862,-0.354986 0.56756,-0.375327 3.999014,6.903442 0,0 3.998902,6.903453 z" />
        <path d="M 96.43465,105.64419 88.434651,91.787786" />
        <path d="M 88.434651,105.64419 96.43465,91.787786" />
        <path d="M 84.434652,98.715988 H 100.43465" />
        <circle
          style="fill:none"
          cx="92.434654"
          cy="98.715988"
          r="8" />
      </g>
    </g>
  </svg>

  <aside id="theme-select-themes">
    <ul>
      <li id="theme-dark">
        <div></div>Dark
      </li>
      <li id="theme-light">
        <div></div>Light
      </li>
      <li id="theme-carmine">
        <div></div>Carmine
      </li>
      <li id="theme-colorblind">
        <div></div>Colorblind
      </li>
    </ul>
  </aside>
</section>
