<!-------------------------------------------------------------------------
---- Adapted from https://www.w3schools.com/howto/howto_css_switch.asp ----
-------------------------------------------------------------------------->

<!-- Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
</label>