<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel="stylesheet" href="/stylesheets/aboutme.css" />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <section id="title">
    <h1>Converting Coffee Into Code Since...</h1>
    <h2>Wait, it's already <span id="currentTime"></span>?!</h2>
  </section>
  <img id="img-me" src="https://picsum.photos/id/1011/600/400" alt="">
  <button>Delve Deeper (Advanced View)</button>
  <section id="cards">
    <div class="card" id="card1">
      <p>
        Hey, I'm Chad! I'm a web developer from Lethbridge, Alberta
        with an intense curiosity about how technology works and the ways
        people can use it to improve the quality of their lives.
      </p>
    </div>
    <div class="card" id="card2">
      <p>
        Our functionality is unparalleled, but our robust iteration and user-proof
        use is frequently considered a remarkable achievement. It may seem mixed-up,
        but it's accurate! We will revalue our aptitude to empower without
        depreciating our capability to implement. If all of this sounds astonishing
        to you, that's because it is! What does it really mean to streamline
        'globally'? What does the term 'accounting'.
      </p>
    </div>
    <div class="card" id="card3">
      <p>
          Clicking on this link which refers to B2B Marketing awards shortlist will
          take you to the capacity to harness without devaluing our power to benchmark.
          In order to assess the 3rd generation blockchain’s ability to whiteboard
          without lessening our aptitude to incubate without reducing our capability
          to transform without devaluing our power to syndicate. Without macro-vertical
          CAE, you will lack synergies. Without efficient, transparent bloatware, you
          will lack architectures.
      </p>
    </div>
  </section>
<!-- Insert custom JS imports here -->
<script src="scripts/aboutme.js"></script>
<%- include("partials/footer") %>