<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel="stylesheet" href="/stylesheets/aboutme.css" />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <main>
    <section id="title">
      <h1>Converting Coffee Into Code Since...</h1>
      <h2>Wait, it's already <span id="currentTime"></span>?!</h2>
    </section>
    <img id="img-me" src="images/Chad.jpg" alt="Picture of Chad Napper">
    <button id="toggle-view-button">Delve Deeper (Advanced View)</button>
    <section id="cards">
      <article class="card" id="card1">
        <header>
          <h2>Who Am I?</h2>
        </header>
        <article class="view-simple">
          <p>
            Hey, I'm Chad! I'm a web developer from Lethbridge, Alberta.
            I'm fueled by my passion to learn about technology and constantly challenge myself. I love exploring new technologies and 
            implementing the latest tech in my projects and hobbies.
          </p>
          <p>
            I cherish the opportunity to learn something new every day and use 
            that knowledge to improve myself and the work I create. Though I primarily work in web development, my interests expand to 
            many other areas in tech including: cyber-security; video game development; computer repair; and computer maintenance.
          </p>
        </article>
        <article class="view-advanced hidden">
          <p>
            Hey, I'm Chad! I'm a web developer from Lethbridge, Alberta.
            I'm fueled by my passion to learn about technology and constantly challenge myself. I love exploring new technologies and 
            implementing the latest tech in my projects and hobbies.
          </p>
          <p>
            I cherish the opportunity to learn something new every day and use 
            that knowledge to improve myself and the work I create. Though I primarily work in web development, my interests expand to 
            many other areas in tech including: cyber-security; video game development; computer repair; and computer maintenance.
          </p>
        </article>
      </article>
      <article class="card" id="card2">
        <header>
          <h2>What Have I Done?</h2>
        </header>
        <article class="view-simple">
          <p>
            I studied computer science at the University of Lethbridge, which provided the basis for my knowledge. While deciding 
            where to focus my efforts, some of the things I've done are:
          </p>
          <ul>
            <li>Studied for and received a tech certification</li>
            <li>Learned a little game development</li>
            <li>Audited some online computer science courses</li>
            <li>Gained some experience with virtualization</li>
            <li>Started experimenting with running a home server</li>
            <li>Built an easily accessible system for me to stay organized</li>
          </ul>
          <p>
            I've learned a lot from my endeavors and I'm excited to bring that knowledge with me into future projects.
          </p>
        </article>
        <article class="view-advanced hidden">
          <p>
            I studied computer science at the University of Lethbridge, which provided the basis for my knowledge. While deciding 
            where to focus my efforts, some of the things I've done are:
          </p>
          <ul>
            <li>Studied for and received the <a target="_blank" href="https://www.comptia.org/certifications/a">CompTIA A+</a> certification (09/2015 - 09/2018)</li>
            <li>Used Unity to build a basic top-down arcade-style game</li>
            <li>Completed the following courses:
              <ul>
                <li><a targe="_blank" href="https://www.udemy.com/course/the-complete-web-developer-course-2">The Complete Web Developer Course</a> (Enrolled)</li>
                <li><a target="_blank" href="https://www.edx.org/course/introduction-to-computer-science-and-programming-7">MITx - Intro to Computer Science and Programming</a> (Audited)</li>
                <li><a target="_blank" href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">Harvardx - CS50</a> (Audited)</li>
                <li><a target="_blank" href="https://www.udemy.com/course/the-web-developer-bootcamp">Udemy - The Web Developer Bootcamp</a> (Enrolled)</li>
              </ul>
            </li>
            <li>Started learning how to use:
              <ul>
                <li><a target="_blank" href="https://www.vmware.com/ca/products/workstation-player/workstation-player-evaluation.html">VMware Workstation 16 Player</a> for use in my development environment</li>
                <li><a target="_blank" href="https://docs.docker.com/get-started/overview/">Docker</a></li>
                <li><a target="_blank" href="https://github.com/pypa/pipx">pipx</a></li>
              </ul>
            </li>
            <li>Started experimenting with running a home server running:
              <ul>
                <li>
                  <a target="_blank" href="https://www.nginx.com/resources/glossary/nginx/">NGINX</a>
                  inside a <a target="_blank" href="https://docs.docker.com/get-started/overview/">Docker</a>
                  <a target="_blank" href="https://hub.docker.com/_/nginx">container</a> as a reverse-proxy
                </li>
                <li>
                  <a target="_blank" href="https://nodejs.org/en/about/">Node.js</a> running in a <a target="_blank" href="https://hub.docker.com/_/node">Docker container</a>
                </li>
                <li><a href="https://www.plex.tv/">Plex</a> running in a <a href="https://hub.docker.com/r/plexinc/pms-docker">Docker container</a></li>
              </ul>
            </li>
            <li>Built an organizational system, easily accessed via <a target="_blank" href="https://obsidian.md">Obsidian.md</a> stored on <a target="_blank" href="https://github.com">GitHub</a>
              for me to stay organized and develop ideas using the <a target="_blank" href="https://zettelkasten.de/posts/overview/">Zettelkasten Method</a></li>
          </ul>
          <p>
            I've learned a lot from my endeavors and I'm excited to bring that knowledge with me into future projects.
          </p>
        </article>
      </article>
      <article class="card" id="card3">
        <header>
          <h2>What Am I Doing?</h2>
        </header>
        <article class="view-simple">
          <p>
            I'm currently interested in learning more about servers and the things I can do with them.
            A few of the things I would like to explore are:
          </p>
          <ul>
            <li>Host a retro video game arcade, playable inside a browser</li>
            <li>Host my own personal cloud service to store photos and videos</li>
            <li>Host a blog that I can use to keep a record of the things I'm learning and exploring</li>
          </ul>
        </article>
        <article class="view-advanced hidden">
          <p>
            I'm currently interested in learning more about servers and the things I can do with them.
            A few of the things I would like to explore are:
          </p>
          <ul>
            <li>Host a <a target="_blank" href="https://github.com/giongto35/cloud-game/">retro video game arcade</a>, playable inside a browser</li>
            <li>Host my own <a target="_blank" href="https://nextcloud.com/athome/">personal cloud service</a> to store photos and videos</li>
            <li>Host a blog that I can use to keep a record of the things I'm learning and exploring</li>
          </ul>
          </div>
        </article>
      </article>
    </section>
  </main>
<!-- Insert custom JS imports here -->
<script src="scripts/aboutme.js"></script>
<%- include("partials/footer") %>