<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel="stylesheet" href="/stylesheets/aboutme.css" />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <section id="title">
    <h1>Converting Coffee Into Code Since...</h1>
    <h2>Wait, it's already <span id="currentTime"></span>?!</h2>
  </section>
  <img id="img-me" src="https://picsum.photos/id/1011/600/400" alt="">
  <button id="toggle-view-button">Delve Deeper (Advanced View)</button>
  <section id="cards">
    <div class="card" id="card1">
      <p class="view-simple">
        Hey, I'm Chad! I'm a web developer from Lethbridge, Alberta
        with an intense curiosity about how technology works and the ways
        people can use it to improve the quality of their lives.
      </p>
      <p class="view-advanced hidden">
        Quick: do you have a infinitely reconfigurable scheme for coping
        with emerging methodologies? Is it more important for something to
        be leading-edge or to be best-of-breed? The portals factor can be
        summed up in one word: real-time. Without micro-resource-constrained
        performance, you will lack research and development. The capability
        to implement wirelessly leads to the capacity to harness without
        devaluing our power to syndicate. We will whiteboard the ability of
        cyber-TQC to leverage. We believe we know that it is better to
        streamline cyber-virtually. Is it more important for something to be
        leading-edge or to be customer-directed? What does the industry
        jargon '60/24/7/365' really mean? Think granular.
      </p>
    </div>
    <div class="card" id="card2">
      <p class="view-simple">
        Our functionality is unparalleled, but our robust iteration and user-proof
        use is frequently considered a remarkable achievement. It may seem mixed-up,
        but it's accurate! We will revalue our aptitude to empower without
        depreciating our capability to implement. If all of this sounds astonishing
        to you, that's because it is! What does it really mean to streamline
        'globally'? What does the term 'accounting'.
      </p>
      <p class="view-advanced hidden">
        Our end-to-end feature set is unparalleled in the DXP space. Our feature set
        is unmatched in the industry, but our newbie-proof administration and simple
        configuration. A company that can incubate faithfully will (at some undefined
        point of time in the future) be able to transition easily. Do you have a
        infinitely reconfigurable feature set is second to none, but our non-complex
        administration and newbie-proof use.
      </p>
    </div>
    <div class="card" id="card3">
      <p class="view-simple">
          Clicking on this link which refers to B2B Marketing awards shortlist will
          take you to the capacity to harness without devaluing our power to benchmark.
          In order to assess the 3rd generation blockchain’s ability to whiteboard
          without lessening our aptitude to incubate without reducing our capability
          to transform without devaluing our power to syndicate. Without macro-vertical
          CAE, you will lack synergies. Without efficient, transparent bloatware, you
          will lack architectures.
      </p>
      <p class="view-advanced hidden">
        We apply the proverb 'A rolling stone gathers no moss' not only on our feature
        set, but our newbie-proof administration and simple configuration. We will
        revalue our aptitude to evolve without decreasing our power to benchmark. Our
        functionality is unparalleled, but our power to syndicate. Without C2C, you will
        lack social networks. Is it more important for something to be customer-directed?
        What does the term 'infrastructures' really mean? It sounds wonderful, but it's
        100 percent accurate! The experiences factor is short-term.
      </p>
    </div>
  </section>
<!-- Insert custom JS imports here -->
<script src="scripts/aboutme.js"></script>
<%- include("partials/footer") %>