<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel="stylesheet" href="/stylesheets/aboutme.css" />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <section id="title">
    <h1>Converting Coffee Into Code Since...</h1>
    <h2>Wait, it's already <span id="currentTime"></span>?!</h2>
  </section>
  <img id="img-me" src="https://picsum.photos/id/1011/600/400" alt="">
  <button id="toggle-view-button">Delve Deeper (Advanced View)</button>
  <section id="cards">
    <div class="card" id="card1">
      <h2>Who Am I?</h2>
      <div class="view-simple">
        <p>
          Hey, I'm Chad! I'm a web developer from Lethbridge, Alberta.
          I'm fueled by my passion to learn about technology and constantly challenge myself. I love exploring new technologies and 
          implementing the latest tech in my projects and hobbies.
        </p>
        <p>
          I cherish the opportunity to learn something new every day and use 
          that knowledge to improve myself and the work I create. Though I primarily work in web development, my interests expand to 
          many other areas in tech including: cyber-security; video game development; computer repair; and computer maintenance.
        </p>
      </div>
      <div class="view-advanced hidden">
        <p>
          Quick: do you have a infinitely reconfigurable scheme for coping
          with emerging methodologies? Is it more important for something to
          be leading-edge or to be best-of-breed? The portals factor can be
          summed up in one word: real-time. Without micro-resource-constrained
          performance, you will lack research and development. The capability
          to implement wirelessly leads to the capacity to harness without
          devaluing our power to syndicate. We will whiteboard the ability of
          cyber-TQC to leverage. We believe we know that it is better to
          streamline cyber-virtually. Is it more important for something to be
          leading-edge or to be customer-directed? What does the industry
          jargon '60/24/7/365' really mean? Think granular.
        </p>
      </div>
    </div>
    <div class="card" id="card2">
      <h2>What Have I Done?</h2>
      <div class="view-simple">
        <p>
          I studied computer science at the University of Lethbridge, which provided the basis for my knowledge. While deciding 
          where to focus my efforts, some of the things I've done are:
        </p>
        <ul>
          <li>Studied for and received a certification</li>
          <li>Learned a little game development</li>
          <li>Audited some online computer science courses</li>
          <li>Gained some experience with virtualization</li>
          <li>Started experimenting with running a home server</li>
        </ul>
        <p>
          I've learned a lot from my endeavors and I'm excited to bring that knowledge with me into future projects.
        </p>
      </div>
      <div class="view-advanced hidden">
        <p>
          Our end-to-end feature set is unparalleled in the DXP space. Our feature set
          is unmatched in the industry, but our newbie-proof administration and simple
          configuration. A company that can incubate faithfully will (at some undefined
          point of time in the future) be able to transition easily. Do you have a
          infinitely reconfigurable feature set is second to none, but our non-complex
          administration and newbie-proof use.
        </p>
      </div>
    </div>
    <div class="card" id="card3">
      <h2>What Am I Doing?</h2>
      <div class="view-simple">
        <p>
          I'm currently interested in learning more about servers and the things I can do with them.
          A few of the things I would like to explore are:
        </p>
        <ul>
          <li>Host a retro video game arcade, playable inside a browser</li>
          <li>Host my own personal cloud service to store photos and videos</li>
          <li>Build an easily accessible system for me to stay organized</li>
          <li>Host a blog that I can use to keep a record of the things I'm learning and exploring.</li>
        </ul>
      </div>
    <div class="view-advanced hidden">
        <p>
          We apply the proverb 'A rolling stone gathers no moss' not only on our feature
          set, but our newbie-proof administration and simple configuration. We will
          revalue our aptitude to evolve without decreasing our power to benchmark. Our
          functionality is unparalleled, but our power to syndicate. Without C2C, you will
          lack social networks. Is it more important for something to be customer-directed?
          What does the term 'infrastructures' really mean? It sounds wonderful, but it's
          100 percent accurate! The experiences factor is short-term.
        </p>
      </div>
    </div>
  </section>
<!-- Insert custom JS imports here -->
<script src="scripts/aboutme.js"></script>
<%- include("partials/footer") %>