<%- include("partials/header-start") %> 
<!-- Custom CSS Imports -->
<link rel='stylesheet' href='/stylesheets/index.css' />
<%- include("partials/header-end") %>

<section id="section-logo">
  <img id="bg-img" src="/images/logo.png" />
  <div id="logo">
    <div id="logo-icon">
      <h1>Napper Web Development</h1>
    </div>
    <h2 id="logo-slogan">Begin Anywhere ~ Let Your Passion Guide You</h2>
  </div>
</section>

<section id="section-nav">
  <div id="container-nav-projects">
    <img id="nav-projects-bg" class="nav-projects" src="/images/nav-arrow.png" />
    <div id="nav-projects-text" class="nav-projects nav-flexbox-container">
      <p>Projects</p>
    </div>
  </div>
  <div id="container-nav-aboutme">
    <img id="nav-aboutme-bg" class="nav-aboutme" src="/images/nav-arrow.png" />
    <div id="nav-aboutme-text" class="nav-aboutme nav-flexbox-container">
      <p>About Me</p>
    </div>
  </div>
  <div id="container-nav-socials">
    <img id="nav-socials-bg" class="nav-socials" src="/images/nav-arrow.png" />
    <div id="nav-socials-text" class="nav-socials nav-flexbox-container">
      <p>Socials</p>
    </div>
  </div>
</section>
<!-- Custom JS Imports -->
<script src="/scripts/index.js"></script>
<%- include("partials/footer") %>