<%- include("partials/header-start") %> 
<!-- Custom CSS Imports -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy" />
<link rel='stylesheet' href='/stylesheets/index.css' />
<%- include("partials/header-end") %>

<img id="bg-img" src="/favicon.ico">
<div id="logo">
  <div id="logo-icon">
    <h1>Napper Web Development</h1>
  </div>
  <h2 id="logo-slogan">Begin Anywhere ~ Let Your Passion Guide You</h2>
</div>

<!-- Custom JS Imports -->
<script src="/scripts/index.js"></script>
<%- include("partials/footer") %>