<%- include("partials/header-start") %> 
<!-- Custom CSS Imports -->
<link rel='stylesheet' href='/stylesheets/index.css' />
<%- include("partials/header-end") %>

<section id="section-logo">
  <figure id="logo-background">
    <svg id="logo-background-img" width="257.15491" height="207.81142" viewBox="0 0 257.15491 207.81142">
      <path
        d="M 78.287694,189.14915 135.12719,-0.51705501 173.06043,10.850845 116.22093,200.51706 Z"
        id="path956" />
      <path
        d="M -2.9033872,100.41153 62.634556,38.673385 87.949813,65.199907 c -40.468374,35.263593 0,-0.157645 -40.468374,35.211623 l 38.917881,34.25371 c -24.953213,26.66138 0,0 -24.953213,26.66138 -64.3494942,-60.96706 0,0.052 -64.3494942,-60.91509 z"
        id="path995" />
      <path
        d="M 254.25153,100.41153 188.71359,38.673385 163.39833,65.199907 c 40.46838,35.263593 0,-0.157645 40.46838,35.211623 l -38.91788,34.25371 c 24.95321,26.66138 0,0 24.95321,26.66138 64.34949,-60.96706 0,0.052 64.34949,-60.91509 z"
        id="path3879" />
    </svg>
    <div id="logo-background-empty-div"></div>
    <figcaption>Fig1. - Logo - Angle bracket, slash, angle bracket.</figcaption>
  </figure>
  
  <main id="logo-text">
    <header id="logo-icon">
      <h1 class="unselectable">Napper Web Development</h1>
    </header>
    <h2 id="logo-slogan" class="unselectable">Begin Anywhere ~ Let Your Passion Guide You</h2>
  </main>
</section>

<nav id="section-nav">
  <div class="nav-container" id="container-nav-projects">
    <svg viewBox="0 0 600 66" preserveAspectRatio="none" id="nav-projects-bg" class="nav-projects">
      <path
      style="fill-opacity:1;stroke-width:0.825992"
      d="M 0,32.999209 V 0 l 281.54499,0.03024 281.545,0.03024 18.53443,16.052469 c 10.19391,8.82886 18.46265,16.32092 18.37489,16.649 -0.0877,0.32822 -8.58905,7.94089 -18.8919,16.91731 l -18.73243,16.32075 H 281.18749 0 Z"
      id="svg-arrow-1"/>
    </svg>
    <div id="nav-projects-text" class="nav-projects nav-text nav-flexbox-container">
      <p class="unselectable">Projects</p>
    </div>
  </div>

  <div class="nav-container" id="container-nav-aboutme">
    <svg viewBox="0 0 600 66" preserveAspectRatio="none" id="nav-aboutme-bg" class="nav-aboutme">
      <path
      style="fill-opacity:1;stroke-width:0.825992"
      d="M 0,32.999209 V 0 l 281.54499,0.03024 281.545,0.03024 18.53443,16.052469 c 10.19391,8.82886 18.46265,16.32092 18.37489,16.649 -0.0877,0.32822 -8.58905,7.94089 -18.8919,16.91731 l -18.73243,16.32075 H 281.18749 0 Z"
      id="svg-arrow-2"/>
    </svg>
    <div id="nav-aboutme-text" class="nav-aboutme nav-text nav-flexbox-container">
      <p class="unselectable">About Me</p>
    </div>
  </div>

  <div class="nav-container" id="container-nav-socials">
    <svg viewBox="0 0 600 66" preserveAspectRatio="none" id="nav-socials-bg" class="nav-socials">
      <path
      style="fill-opacity:1;stroke-width:0.825992"
      d="M 0,32.999209 V 0 l 281.54499,0.03024 281.545,0.03024 18.53443,16.052469 c 10.19391,8.82886 18.46265,16.32092 18.37489,16.649 -0.0877,0.32822 -8.58905,7.94089 -18.8919,16.91731 l -18.73243,16.32075 H 281.18749 0 Z"
      id="svg-arrow-3"/>
    </svg>
    <div id="nav-socials-text" class="nav-socials nav-text nav-flexbox-container">
      <p class="unselectable">Socials</p>
    </div>
  </div>
</nav>
<!-- Custom JS Imports -->
<script src="/scripts/index.js"></script>
<%- include("partials/footer") %>