<%- include("partials/header-start") %> 
<!-- Custom CSS Imports -->
<link rel='stylesheet' href='/stylesheets/index.css' />
<%- include("partials/header-end") %>

<div id="selection-flex-container">
  <div id="selection-bg-flex-container"></div>
  <h1>Please select which version of the site you would like to visit:</h1>
  <div id="selection-button-flex-container">
    <button id="basic-button" type="button">Basic</button>
    <button id="advanced-button" type="button">Advanced</button>
  </div>
</div>

<!-- Custom JS Imports -->
<%- include("partials/footer") %>