<%- include("partials/header-start") %> 
<!-- Custom CSS Imports -->
<link rel='stylesheet' href='/stylesheets/index.css' />
<%- include("partials/header-end") %>

  <h1>Please select which version of the site you would like to visit:</h1>
  <button type="button">Basic</button>
  <button type="button">Advanced</button>
  
  <h1>NOTE: YOU NEED TO CHANGE HOW THE TOGGLE IS PLACED ON THE PAGE. IT'S CURRENTLY USING ABSOLUTE POSITIONING AND IT NEEDS TO USE FLEXBOX, FOR THE LOVE OF GOD PLEASE.</h1>

<!-- Custom JS Imports -->
<%- include("partials/footer") %>
