<%- include("partials/header-start") %> 
<!-- Insert custom CSS imports here -->
<link rel="stylesheet" href="/stylesheets/socials.css" />
<%- include("partials/header-end") %>
<%- include("partials/navbar") %>

  <h1>Find Me On Social Media!</h1>
  <section id="logos">
    <div class="logo" id="logo1"><img src="/images/twitter.png" /></div>
    <div class="logo" id="logo2"><img src="/images/github.png" /></div>
    <div class="logo" id="logo3"><img src="/images/linkedin.png" /></div>
  </section>

<!-- Insert custom JS imports here -->
<script src="scripts/aboutme.js"></script>
<%- include("partials/footer") %>