@media screen and (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-row-gap: 3rem;
    }

    #title {
        grid-row: 3 / 4;
    }
    
    #img-me {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    button {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    #cards {
        display: grid;
        grid-row: 4 / 5;
        grid-template-columns: repeat(7, 1fr);
        max-width: 100%;
    }

    #card1 {
        grid-column: 1 / 6;
        grid-row: 1 / 6;
    }

    #card2, #card2Clone {
        grid-column: 3 / -1;
        grid-row: 4 / 10;
    }

    #card3, #card3Clone {
        grid-column: 1 / 6;
        grid-row: 9 / 14;
    }
}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns: 1fr;
        column-gap: 3rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 3rem;
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    #title {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }

    #img-me {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    button {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto 15em auto 15em auto auto;

        grid-column: 4 / -1;
        grid-row: 2 / 5;
    }

    #card1 {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }

    #card2, #card2Clone {
        grid-column: 3 / 6;
        grid-row: 3 / 6;
    }

    #card3, #card3Clone {
        grid-column: 5 / 8;
        grid-row: 5 / 8;
    }
}

/* Prevents li's from overflowing on mobile in landscape */
@media screen and (orientation: landscape) and (max-width: 900px) {
    .card ul li ul, .card ul {
        margin-left: -2.75rem;
    }
}

body {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 3rem;
    background-color: var(--aboutme-background-color);
}

button {
    justify-self: center;
    width: min(90%, 300px);
}

.card {
    border-style: solid;
    border-width: 1px;
    text-align: left;
    padding: 2rem;
    max-width: 100%;
}

.card h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.card div *:first-child {
    margin-top: 0;
}

.card div p {
    margin: 2.3rem 0;
}

.card div *:last-child {
    margin-bottom: 0;
}

.card ul {
    padding: 0 3rem;
    list-style-type: square;
}

.card ul ul {
    list-style-type: circle;
}

#img-me {
    justify-self: center;
}

#card1 a {
    color: var(--aboutme-card-1-anchor-link-color);
}

#card1 a:hover {
    color: var(--aboutme-card-1-anchor-hover-color);
}

#card1 a:visited {
    color: var(--aboutme-card-1-anchor-visited-color);
}

#card2 a, #card2Clone a {
    color: var(--aboutme-card-2-anchor-link-color);
}

#card2 a:hover, #card2Clone a:hover {
    color: var(--aboutme-card-2-anchor-hover-color);
}

#card2 a:visited, #card2Clone a:visited {
    color: var(--aboutme-card-2-anchor-visited-color);
}

#card3 a, #card3Clone a {
    color: var(--aboutme-card-3-anchor-link-color);
}

#card3 a:hover, #card3Clone a:hover {
    color: var(--aboutme-card-3-anchor-hover-color);
}

#card3 a:visited, #card3Clone a:visited {
    color: var(--aboutme-card-3-anchor-visited-color);
}

#card2 a, #card3 a, #card2Clone a, #card3Clone a {
    font-weight: 900;
}

#card1 {
    z-index: 3;
    color: var(--aboutme-card-1-text-color);
    background-color: var(--aboutme-card-1-background-color);
    text-shadow: var(--aboutme-card-1-text-shadow-color);
}

#card2, #card2Clone {
    z-index: 2;
    color: var(--aboutme-card-2-text-color);
    background-color: var(--aboutme-card-2-background-color);
    text-shadow: var(--aboutme-card-2-text-shadow-color);
}

#card2Clone {
    z-index: 5;
    opacity: 0;
}

#card3, #card3Clone {
    z-index: 1;
    color: var(--aboutme-card-3-text-color);
    background-color: var(--aboutme-card-3-background-color);
    text-shadow: var(--aboutme-card-3-text-shadow-color);
}

#card3Clone {
    z-index: 4;
    opacity: 0;
}

#title h1 {
    color: var(--aboutme-title-h1-color);
}

#title h2 {
    color: var(--aboutme-title-h2-color);
}

#toggle-view-button {
    color: var(--aboutme-buttons-change-view-text-color);
    background-color: var(--aboutme-buttons-change-view-background-color);
    border-color: var(--aboutme-buttons-change-view-border-color);
    font-weight: bolder;
}

#toggle-view-button:hover {
    color: var(--aboutme-buttons-change-view-text-color-hover);
    background-color: var(--aboutme-buttons-change-view-background-color-hover);
    border-color: var(--aboutme-buttons-change-view-border-color-hover);
}