/* General Styling */

body {
    height: 100vh;
    display: grid;
    align-items: center;
}

@media screen and (orientation: portrait) {
    body {
    grid-template-columns: repeat( auto-fit, minmax(100%, 1fr) );
    }
}

@media screen and (orientation: landscape) {
    body {
    grid-template-columns: repeat( 2, minmax(50%, 1fr) );
    grid-gap: 2rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

@media screen and (min-width: 600px) and (orientation: landscape) {
    #section-logo {
        grid-column: -2 / -1;
        margin-bottom: 20vh;

    }

    #section-nav {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
    #section-logo {
        margin-bottom: 35vh;
    }
}

/* Link Styling */
#section-nav > * {
    cursor: pointer;
}

/* Logo Styling */

#logo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#bg-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -125.5px;
    margin-top: -120px;
    opacity: 0.40;
}

#logo-slogan {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Satisfy", cursive;
}

#logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    z-index: 1;
}

#logo-icon h1 {
    font-size: 3.0rem;
}

/* Nav Styling */

#section-nav {
    display: grid;
    grid-template-rows: 1.5fr 66px 1fr 66px 1fr 66px 1fr;
    grid-template-columns: 20px 1fr 20px;
}

.nav-flexbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#nav-projects-bg {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    width: 100%;
    height: 100%;
}

#nav-projects-text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#nav-aboutme-bg {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
}

#nav-aboutme-text {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#nav-socials-bg {
    grid-row: 6 / 7;
    grid-column: 2 / 4;
    width: 100%;
    height: 100%;
}

#nav-socials-text {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}