/* General Styling */

body {
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: var(--index-background-color);
}

@media screen and (orientation: portrait) {
    body {
        grid-template-columns: repeat( auto-fit, minmax(100%, 1fr) );
        grid-template-rows: auto 1fr 1fr;
    }

    #section-nav > ul {
       grid-template-columns: 5.3vw 1fr 5.3vw;
       grid-template-rows: 0 80px 0.5fr 80px 0.5fr 80px 0;
    }
}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns: repeat( 2, minmax(50%, 1fr) );
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }

    #section-logo {
        grid-column: -2 / -1;
        grid-row: 1 / 2;
    }

    #section-nav > ul {
        grid-template-columns: 2.9vw 1fr 2.9vw;
        grid-template-rows: 2fr 70px 1fr 70px 1fr 70px 2fr;
    }
}

section, #section-nav > ul {
    display: grid;
    height: 100%;
    position: relative;
}

/* Logo Styling */

#logo-text {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logo-background {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.60;
    fill: var(--index-logo-background-color);
}

#logo-background-img {
    flex-grow: 2;
    transform: translateY(-3rem);
}

#logo-slogan, #logo-background-empty-div {
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
    z-index: 1;
    color: var(--index-slogan-text-color);
    flex-grow: 1;
}

#logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: var(--index-logo-h1-text-color);
    flex-grow: 2;
}

#logo-icon h1 {
    font-size: 3.0rem;
}

/* Nav Styling */

#section-nav > ul > li {
    cursor: pointer;
}

#section-nav > ul > li > svg {
    height: 100%;
    width: 100%;
}

#section-nav > ul {
    justify-content: space-evenly;
    list-style: none;
}

#section-nav {
    height: 100%;
}

#section-nav a * {
    width: 100%;
    height: 100%;
}

li > a {
    position: relative;
}

/* Projects */
#nav-projects-index {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}

#nav-projects-index:hover > a > svg > #nav-projects-text {
    fill: var(--index-nav-arrow-1-text-color-hover);
}

#nav-projects-text {
    fill: var(--index-nav-arrow-1-text-color);
}

#nav-projects-svg {
    fill: var(--index-nav-arrow-1-background-color);
}

/* About Me */
#nav-aboutme-index {
    grid-column: 1 / -2;
    grid-row: 4 / 5;
    transform: scaleX(-1);
}

#nav-aboutme-index:hover > a > svg > #nav-aboutme-text {
    fill: var(--index-nav-arrow-2-text-color-hover);
}

#nav-aboutme-text {
    transform: scaleX(-1) translateX(-100%);
    fill: var(--index-nav-arrow-2-text-color);
}

#nav-aboutme-svg {
    fill: var(--index-nav-arrow-2-background-color);
}

/* Socials */
#nav-socials-index {
    grid-column: 2 / -1;
    grid-row: 6 / 7;
}

#nav-socials-index:hover > a > svg > #nav-socials-text {
    fill: var(--index-nav-arrow-3-text-color-hover);
}

#nav-socials-text {
    fill: var(--index-nav-arrow-3-text-color);
}

#nav-socials-svg {
    fill: var(--index-nav-arrow-3-background-color);
}

/* Nav Animations */
.nav-swipe-right {
    transform: translateX(100vw) !important;
    transition: transform 0.5s;
}

.nav-swipe-left {
    transform: translateX(-100vw) !important;
    transition: transform 0.5s;
}