@media screen and (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
    }
}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        align-items: center;
        max-height: 100vh;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        align-items: center;
        grid-row: 3 / 4;
        height: 100%;
    }

    #section-projects {
        /* I had to change the columns to 2 because, without three projects it left an empty column
        which looked weird. Change this to 3 when there are at least three projects. The entire media
        query should look as follows, get rid of the rest: */

        /* 
        #section-projects {
            grid-template-columns: repeat(3, 1fr);
        }
        */

        grid-template-columns: repeat(2, 1fr);

        /* Position within parent grid */
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    #toggle-view-button {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    .card {
        max-width: 70%;
        justify-self: center;
    }

    .card:first-of-type {
        grid-column: 1 / 2;
    }

    .card:last-of-type {
        grid-column: 2 / 3;
    }
}

body {
    display: grid;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    background-color: var(--projects-background-color);
}

button {
    justify-self: center;
    width: clamp(0px, 65%, 300px);
}

#toggle-view-button {
    color: var(--projects-buttons-change-view-text-color);
    background-color: var(--projects-buttons-change-view-background-color);
    border-color: var(--projects-buttons-change-view-border-color);
    font-weight: bolder;
}

#toggle-view-button:hover {
    color: var(--projects-buttons-change-view-text-color-hover);
    background-color: var(--projects-buttons-change-view-background-color-hover);
    border-color: var(--projects-buttons-change-view-border-color-hover);
}

#section-projects {
    display: grid;
    grid-gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-width: 1px;
    border-style: solid;
}

.card h1 {
    padding: 1rem 0;
    font-size: 1.17em;
    background-color: var(--projects-cards-title-background-color);
    color: var(--projects-cards-text-title-color);
}

.card > img {
    width: 100%;
}

.card p {
    padding: 1rem 0;
    flex-grow: 3;
    background-color: var(--projects-cards-description-background-color);
    color: var(--projects-cards-text-description-color);
}

.card > * {
    cursor: pointer;
}