@media screen and (orientation: portrait) {
    #section-projects {
        grid-template-columns: 1fr;
    }
}

@media screen and (orientation: landscape) {
    #section-projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

body {
    display: grid;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
}

button {
    align-self: flex-start;
    justify-self: center;
    width: clamp(0px, 65%, 300px);
}

#section-projects {
    display: grid;
    grid-gap: 3rem;
}

.div-projects {
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.div-projects h3 {
    margin: 1rem 0;
    flex-basis: 20px;
}

.div-projects > img {
    width: 100%;
}

.div-projects > p {
    margin: 1rem 0;
    flex-grow: 3;
}

.div-projects > * {
    cursor: pointer;
}