@media screen and (orientation: portrait) {
    body {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto repeat(4, 18.75%);
        align-items: center;
    }

    #nav {
        grid-column: 1 / -1;
    }

    #title {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        margin-bottom: 3rem;
    }

    #logo-email {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }

    #text-email {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #logo-twitter {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    #text-twitter {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    #logo-github {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    #text-github {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    #logo-linkedin {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    #text-linkedin {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
}

@media screen and (orientation: landscape) {
    body {
        grid-template-columns: repeat(4, 1fr);
        /* 14.29vh */
        grid-template-rows: auto auto repeat(5, 1fr);
        align-items: flex-start;
        max-height: 100vh;
    }

    .logo {
        max-width: min(28.57vh, 100%);
        max-height: 100%;
        justify-self: center;
    }

    #nav {
        grid-column: 1 / -1;
        align-self: center;
    }

    #title {
        grid-column: 1 / 3;
        grid-row: 2 / 5;
        margin: 2rem 0;
        align-self: center;
    }

    #logo-email {
        grid-column: 4 / -1;
        grid-row: 3 / 5;
    }

    #text-email {
        grid-column: 4 / -1;
        grid-row: 5 / 6;
    }

    #logo-twitter {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
    }

    #text-twitter {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }

    #logo-github {
        grid-column: 2 / 3;
        grid-row: 5 / 7;
    }

    #text-github {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }

    #logo-linkedin {
        grid-column: 1 / 2;
        grid-row: 6 / 8;
    }

    #text-linkedin {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        align-self: flex-end;
    }
}

body {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: var(--socials-background-color);
}

#nav {
    margin: 3rem 0;
}

#title {
    color: var(--socials-title-text-color);
}

.logo {
    min-width: 100px;
}

.logo:hover, .logo-text:hover {
    cursor: pointer;
}

#logo-email {
    background-color: var(--socials-logo-email-background-color);
    font-size: 3.0rem;
    font-weight: 900;
}

#logo-email text {
    stroke-width: 0;
    fill: var(--socials-logo-email-icon-text-color);
}

#logo-email path, #logo-email line, #logo-email {
    stroke-width: 0.7;
    stroke: var(--socials-logo-email-outline-color);
}

#text-email {
    color: var(--socials-logo-email-text-color);
}

#text-twitter {
    color: var(--socials-logo-twitter-text-color);
}

#text-github {
    color: var(--socials-logo-github-text-color);
}

#text-linkedin {
    color: var(--socials-logo-linkedin-text-color);
}