*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: hsl(47, 100%, 35%); /* #937300;*/
    padding: 3rem;
    box-sizing: border-box;
    background-color: black;
    min-height: 100vh;
}

h1 {
    font-size: 3.5rem;
}

button {
    min-height: 4.5rem;
    border-radius: 15px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

@media screen and (orientation: portrait) {
    #nav {
        font-size-adjust: 0.5;    
    }
}

@media screen and (orientation: landscape) {
    #nav {
        font-size-adjust: 0.7; 
    }
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

#nav > * {
    cursor: pointer;
}

#nav .nav-current-page {
    font-size: x-large;
}

.hidden {
    display: none;
}