@import url("theme.css");

/* Boilerplate */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
    background-color: var(--background);
    min-height: 100vh;
}

img {
    max-width: 100%;
}

/* Custom */
@media screen and (orientation: landscape) {
    button {
        border: 0.2rem solid;
    }
    
    #nav {
        font-size-adjust: 0.7; 
    }
}

@media screen and (orientation: portrait) {
    button {
        border: 0.1rem solid;
    }
    
    #nav {
        font-size-adjust: 0.5;    
    }
}

h1 {
    font-size: 3.5rem;
}

button {
    min-height: 4.5rem;
    border-radius: 15px;
    cursor: pointer;
}

/* Navbar */
#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

#nav-index {
    color: var(--nav-index-text-color);
}

#nav-index:hover {
    color: var(--nav-index-text-hover-color);
    transform: scale(2, 2);
    transition: transform 0.4s, color 0.2s;
}

#nav-projects {
    color: var(--nav-projects-text-color);
}

#nav-projects:hover {
    color: var(--nav-projects-text-hover-color);
    transform: scale(2, 2);
    transition: transform 0.4s, color 0.2s;
}

#nav-aboutme {
    color: var(--nav-aboutme-text-color);
}

#nav-aboutme:hover {
    color: var(--nav-aboutme-text-hover-color);
    transform: scale(2, 2);
    transition: transform 0.4s, color 0.2s;
}

#nav-socials {
    color: var(--nav-socials-text-color);
}

#nav-socials:hover {
    color: var(--nav-socials-text-hover-color);
    transform: scale(2, 2);
    transition: transform 0.4s, color 0.2s;
}

#nav > * {
    cursor: pointer;
}

#nav .nav-current-page {
    font-size: x-large;
}

/* Theme Select */
#theme-select-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    align-self: flex-start;
    z-index: 2;
}

#theme-select-button {
    width: 60px;
    height: 50px;
    cursor: pointer;
    stroke: var(--theme-select-stroke);
    fill: var(--theme-select-fill);
}

#center-lines {
    stroke: var(--text-color);
    fill: var(--text-color);
}

#theme-select-themes {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    margin-top: 1rem;
    margin-right: 2rem;
    border-color: var(--theme-select-stroke);
    background-color: var(--theme-select-background-color);
}

#theme-select-themes li {
    color: var(--theme-select-other-text-color);
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;
}

#theme-select-themes div {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--theme-select-other-border-color);
    border-radius: 50%;
    margin: 0 1rem;
}

#theme-select-themes .current-theme div {
    border-color: var(--theme-select-current-border-color);
}

#theme-light div {
    background-color: hsl(180, 0%, 90%);
}

#theme-carmine div {
    background-color: hsl(351, 96%, 30%);
}

#theme-colorblind div {
    background-color: hsl(310, 43%, 47%);
}

/* Classes */
.hidden {
    display: none;
}

.current-theme {
    color: var(--theme-select-current-text-color) !important;
    font-weight: bolder;
}
