.theme-color {
    /********************
    *** Color Palette ***
    ********************/

    /* Variable Colors */
    --primary-lightest: ;
    --primary-light: ;
    --primary-medium: ;
    --primary-dark: ;
    --primary-darkest: ;

    --secondary-lightest: ;
    --secondary-light: ;
    --secondary-medium: ;
    --secondary-dark: ;
    --secondary-darkest: ;

    --accent-lightest: ;
    --accent-light: ;
    --accent-medium: ;
    --accent-dark: ;
    --accent-darkest: ;

    /* Static Colors */

    /**************
    *** General ***
    **************/
    --text-color: ;
    --text-shadow-color: ;
    --main-background-color: ;
    --main-card-background-color: ;
    --secondary-card-background-color: ;

    /*****************
    *** Index Page ***
    *****************/

    /*** Index - General ***/
    --index-text-color: var(--text-color);
    --index-background-color: var(--main-background-color);
    --index-nav-background-color: var(--main-card-background-color);

    /*** Index - Logo ***/
    /* Index - Logo - General */
    --index-logo-text-color: var(--index-text-color);

    /* Index - Logo - Text */
    --index-logo-h1-text-color: var(--index-logo-text-color);
    --index-slogan-text-color: var(--index-logo-text-color);

    /*** Index - Navigation ***/
    /* Index - Nav - General */
    --index-nav-text-color: var(--index-text-color);

    /* Index - Nav - Text */
    --index-nav-arrow-1-text-color: var(--index-nav-text-color);
    --index-nav-arrow-2-text-color: var(--index-nav-text-color);
    --index-nav-arrow-3-text-color: var(--index-nav-text-color);

    /* Index - Nav - Backgrounds */
    --index-nav-arrow-1-background-color: var(--index-nav-background-color);
    --index-nav-arrow-2-background-color: var(--index-nav-background-color);
    --index-nav-arrow-3-background-color: var(--index-nav-background-color);

    /********************
    *** Projects Page ***
    ********************/

    /*** Projects - General ***/
    --projects-text-color: var(--text-color);
    --projects-background-color: var(--main-background-color);
    --projects-buttons-background-color: var(--main-card-background-color);

    /*** Projects - Buttons ***/
    /* Projects - Buttons - General */
    --projects-buttons-text-color: var(--projects-text-color);

    /* Projects - Buttons - Text */
    --projects-buttons-change-view-text-color: var(--projects-buttons-text-color);

    /* Projects - Buttons - Backgrounds */
    --projects-buttons-change-view-background-color: var(--projects-buttons-background-color);

    /*** Projects - Cards ***/
    /* Projects - Cards - General */
    --projects-cards-text-color: var(--projects-text-color);

    /* Projects - Cards - Text */
    --projects-cards-text-title-color: var(--projects-cards-text-color);
    --projects-cards-text-description-color: var(--projects-cards-text-color);

    /* Projects - Cards - Backgrounds */
    --projects-cards-title-background-color: var(--main-card-background-color);
    --projects-cards-description-background-color: var(--secondary-card-background-color);

    /********************
    *** About Me Page ***
    ********************/

    /*** About Me - General ***/
    --aboutme-text-color: var(--text-color);
    --aboutme-background-color: var(--main-background-color);
    --aboutme-buttons-background-color: var(--main-card-background-color);
    --aboutme-text-shadow-color: var(--text-shadow-color);

    /*** About Me - Title ***/
    --aboutme-title-h1-color: var(--aboutme-text-color);
    --aboutme-title-h2-color: var(--aboutme-text-color);

    /*** About Me - Buttons ***/
    /* About Me - Buttons - General */
    --aboutme-buttons-text-color: var(--aboutme-text-color);
    
    /* Projects - Buttons - Text */
    --aboutme-buttons-change-view-text-color: var(--aboutme-buttons-text-color);

    /* Projects - Buttons - Backgrounds */
    --aboutme-buttons-change-view-background-color: var(--aboutme-buttons-background-color);

    /*** About Me - Cards ***/
    /* About Me - Cards - General */
    --aboutme-cards-text-color: var(--aboutme-text-color);
    --aboutme-cards-text-shadow-color: var(--aboutme-text-shadow-color);
    --aboutme-cards-background-color: var(--secondary-card-background-color);

    /* About Me - Cards - Text */
    --aboutme-card-1-text-color: var(--aboutme-cards-text-color);
    --aboutme-card-2-text-color: var(--aboutme-cards-text-color);
    --aboutme-card-3-text-color: var(--aboutme-cards-text-color);

    /* About Me - Cards - Text Shadow */
    --aboutme-card-1-text-shadow-color: var(--aboutme-cards-text-shadow-color);
    --aboutme-card-2-text-shadow-color: var(--aboutme-cards-text-shadow-color);
    --aboutme-card-3-text-shadow-color: var(--aboutme-cards-text-shadow-color);

    /* About Me - Cards - Backgrounds */
    --aboutme-card-1-background-color: var(--aboutme-cards-background-color);
    --aboutme-card-2-background-color: var(--aboutme-cards-background-color);
    --aboutme-card-3-background-color: var(--aboutme-cards-background-color);
}