:root {
    --grey-almost-black: hsl(0, 0%, 11%);
    --grey-darkest: hsl(0, 0%, 16%);
    --grey-dark: hsl(0, 0%, 24%);
    --grey-grey: hsl(0, 0%, 29%);
    --grey-light: hsl(0, 0%, 60%);
    --grey-lightest: hsl(0, 0%, 84%);
    --grey-almost-white: hsl(0, 0%, 95%);

    --old-gold: hsl(47, 100%, 35%);
    --old-gold-lighter: hsl(47, 100%, 40%);
    --old-background-card: hsl(51, 50%, 25%);
}

.theme-dark {
    /* General */
    --background: black;
    --background-card: var(--old-background-card);
    --background-card-alt: var(--grey-dark);
    --border: ;
    --logo-email: var(--old-gold-lighter);

    /* Headers */
    --header-1: ;
    --header-2: ;
    --header-3: ;

    /* Buttons */
    --button-text-color: ;
    --button-background-color: ;
    --button-hover: ;

    /* Links */
    --links: ;
    --links-hover: ;
    --links-visited: ;
    
    /* Text */
    --paragraph: ;
    --text-hover: ;

    /* Navigation */
    --nav: ;
    --nav-index-page: ;
}