:root {
    --grey-dark: hsl(0, 0%, 35%);

    --primary-darkest: hsl(240, 100%, 19%);
    --primary-dark: hsla(240, 100%, 30%, 1);
    --primary-medium: hsl(240, 100%, 45%);
    --primary-light: hsla(240, 100%, 45%, 0.7);
    --primary-lightest: hsl(240, 100%, 60%);

    --secondary-dark: hsl(180, 100%, 30%);
    --secondary-medium: hsl(180, 100%, 50%);

    --tertiary-darkest: hsl(180, 0%, 10%);
    --tertiary-dark: hsl(180, 0%, 20%);
    --tertiary-medium: hsl(180, 0%, 35%);
    --tertiary-medium-alt: hsla(0, 0%, 30%, 1);
    --tertiary-light: hsl(180, 0%, 50%);
    --tertiary-lightest: hsl(180, 0%, 90%);
}

.theme-light {
    /*************
    *** General
    *************/
    --background: var(--tertiary-lightest);
    --logo-email: var(--grey-dark);
    --general-text: var(--primary-darkest);
    --general-text-alt: var(--secondary-medium);
    --general-text-shadow: var(--tertiary-light);

    /************
    *** Cards 
    ************/
    /* Backgrounds */
    --background-card: var(--primary-medium);
    --background-card-alt: var(--primary-darkest);
    --aboutme-card-1: var(--tertiary-medium);
    --aboutme-card-2: var(--tertiary-medium-alt);
    --aboutme-card-3: var(--tertiary-dark);
    --projects-cards-title: var(--primary-dark);
    --projects-cards-description: var(--tertiary-medium-alt);

    /* Text */
    --projects-cards-text-general: var(--secondary-medium);
    --projects-cards-text-title: var(--projects-cards-text-general);
    --projects-cards-text-description: var(--projects-cards-text-general);
    
    --text-shadow-offset-x: 1px;
    --text-shadow-offset-y: 1px;
    --text-shadow-blur-radius: 2px;
    --aboutme-card-1-shadow: var(--tertiary-light) var(--text-shadow-offset-x) var(--text-shadow-offset-y) var(--text-shadow-blur-radius);
    --aboutme-card-2-shadow: ;
    --aboutme-card-3-shadow: var(--tertiary-light) var(--text-shadow-offset-x) var(--text-shadow-offset-y) var(--text-shadow-blur-radius);
    --aboutme-card-1-text: var(--general-text-alt);
    --aboutme-card-2-text: var(--general-text-alt);
    --aboutme-card-3-text: var(--general-text-alt);

    /************
    *** Buttons
    ************/
    --button-text-color: var(--secondary-medium);
    --button-background-color: var(--primary-darkest);
    --button-border-color: var(--secondary-medium);

    /***************
    *** Navigation
    ***************/
    --nav-index: white;
    --nav-on-hover: var(--primary-lightest);
    --anchor-tags: var(--primary-medium);
    --anchor-tags-hover: var(--secondary-dark);
    --anchor-tags-visited: var(--tertiary-dark);
    --anchor-tags-visited-alt: var(--tertiary-light);
}

.theme-dark {
    /*************
    *** General
    *************/
    --background: black;
    --logo-email: var(--grey-dark);
    --general-text: var(--secondary-medium);
    --general-text-shadow: black;

    /************
    *** Cards 
    ************/
    --background-card: var(--primary-darkest);
    --background-card-alt: var(--primary-darkest);
    --aboutme-card-1: var(--tertiary-light);
    --aboutme-card-2: var(--tertiary-medium);
    --aboutme-card-3: var(--tertiary-darkest);
    --projects-cards-title: var(--primary-dark);
    --projects-cards-description: var(--tertiary-medium-alt);

    /************
    *** Buttons
    ************/
    --button-text-color: var(--secondary-medium);
    --button-background-color: var(--primary-darkest);
    --button-border-color: var(--secondary-medium);

    /***************
    *** Navigation
    ***************/
    --nav-on-hover: var(--primary-medium);
    --anchor-tags: var(--primary-medium);
    --anchor-tags-hover: var(--secondary-dark);
    --anchor-tags-visited: var(--tertiary-dark);
    --anchor-tags-visited-alt: var(--tertiary-light);
}